<!DOCTYPE html>
<html>
	<head>
		<title>Sudoku</title>		
		{% block css %}
			<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700' rel='stylesheet' type='text/css'>
			<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css" />
		{% endblock %}
		{% block javascript %}
		 	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
			<script type="text/javascript" src="{{ STATIC_URL }}js/engine.js"></script>
		{% endblock %}
	</head>
	<body>
		{% block content %}
		{% endblock content %}
	</body>
</html>