*{
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 100;
	text-align: center;
}
h1{
	font-weight: 500;
	font-size: 56px;
	text-shadow: 0px 2px 3px #999;
}
h2{
	font-size: 20px;
	text-shadow: 0px 1px 2px #aaa;
}
h3{
	font-weight: 300;
	font-size: 28px;
	text-shadow: 0px 1px 2px #bbb;
}

.timer{
	text-align: center;
	font-size: 72px;
	color: #aaa;
	font-weight: 100;
}