*{
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 100;
	text-align: center;
}
h1{
	font-weight: 500;
	font-size: 56px;
	text-shadow: 0px 2px 3px #999;
}
h2{
	font-size: 20px;
	text-shadow: 0px 1px 2px #aaa;
}
h3{
	font-weight: 300;
	font-size: 28px;
	text-shadow: 0px 1px 2px #bbb;
}
.registration{
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
	width: 300px;
}
.registration input{
	margin: 8px;
	box-sizing: border-box;
	padding: 7px;
	font-size: 17px;
	width: 100%;
}
.registration input[type="submit"]{
	box-sizing: content-box;
	font-family: 'Josefin Sans', sans-serif;
	width: auto;
}
.puzzel-list{
	margin: 0 auto;
	width: 300px;
	border: 1px solid #ddd;
}
.puzzel-list-tile{
	box-sizing: border-box;
	padding: 5px;
	width: 30px;
	height: 30px;
	text-align: center;
}
.puzzel-list-tile span{
	display: inline-block;
	font-size: 23px;
	font-weight: 700;
}

.puzzel{
	margin: 0px auto;
	width: 369px;
	height: 372px;
	border: 3px solid #666;
}
.row{
	display: block;
	height: 40px;
	border-bottom: 1px solid #777;
}
.number{
	float: left;
	border-right: 1px solid #777;
	box-sizing: border-box;
	font-weight: 500;
	font-size: 32px;
	padding: 5px;
	width: 40px;
	height: 40px;
	text-align: center;	
	color: #246BB2;
}
.row:nth-child(1) .number{
	border-top: none;
}
.row:nth-child(3){
	border-bottom: 3px solid #777;
}
.row:nth-child(6){
	border-bottom: 3px solid #777;
}
.row:nth-child(9){
	border-bottom: none;
}
.row:nth-child(9) .number{
	border-bottom: none;
}
.row .number:nth-child(1){
	border-left: none;
}
.row .number:nth-child(9){
	border-right: none;
}
.row .number:nth-child(3){
	width: 43px;
	border-right: 3px solid #777;
}
.row .number:nth-child(6){
	width: 43px;
	border-right: 3px solid #777;
}
.fixed{
	font-weight: 700;
	color: #000;
}

.timer{
	text-align: center;
	font-size: 72px;
	color: #aaa;
	font-weight: 100;
}